.sign-up-container {
  display: flex;
  justify-content: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  margin-top: 15vh;
  width: 80vh;
  height: 72vh;
  padding: 2vh;
}

.sign-up-form h3 {
  color: #3a3a3a;
  padding-bottom: 4vh;
}

.sign-up-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.sign-up-form input {
  color: #3a3a3a;
  width: 70vh;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #afafaf;
  border-radius: 4px;
}

.sign-up-page p {
  color: rgb(197, 37, 37);
  margin-bottom: 3vh;
}

.sign-up-page p::before {
  display: inline;
  content: "⚠ ";
}

.sign-up-form span {
  color: #3a3a3a;
  margin-bottom: 2vh;
}

.sign-up-form span a {
  text-decoration: none;
  color: rgb(0, 60, 255);
}

.sign-up-form button {
  margin-top: 2vh;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.sign-up-form button:hover {
  background-color: #3b993e;
  transition: 0.5s;
}
