.sidebar {
  background-color: rgb(39, 37, 43);
  height: 100vh;
  width: 9vh;
}

.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  width: 9vh;
  padding-top: 2vh;
}

.sidebar #divisor {
  border-bottom: 1px solid white;
  height: 2vh;
  width: 7vh;
  margin-left: 1vh;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  list-style: none;
  height: 90%;
}

.sidebar ul li {
  margin-top: 4vh;
}

.sidebar .logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 2vh;
}
