.home-page {
  display: flex;
  flex-direction: column;
}

.home-page .upload-form {
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 8px;
  margin-top: 4vh;
  padding: 2vh;
}

.home-page .upload-form span{
 font-weight: 500;
}

.home-page .upload-form input {
  margin-left: 2vh;
}

.home-page .upload-form .upload-button {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  margin-left: 2vh;
}

.home-page  ul {
  background-color: white;
  border: none;
  border-radius: 8px;
  list-style: none;
  width: 162vh;
  margin-top: 2vh;
}

.home-page .list-description {
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 8px;
  padding: 2vh;
}

.home-page .list-description .filename {
  padding: 1vh 26vh 1vh;
}

.home-page .list-description .filesize {
  padding: 1vh 10vh 1vh;
}

.home-page .file-info {
  display: flex;
  flex-direction: row;
}

.home-page .file-info div {
  padding-top: 2vh;
}

.home-page .file-info .filename {
  width: 65vh;
}

.home-page .file-info .filesize {
  width: 28vh;
}

.home-page .file-info .last-modified {
  width: 69vh;
}

.home-page .no-files-message {
  padding: 2vh;
  color: #3a3a3a;
}