.home-page {
  display: flex;
  flex-direction: row;
}

.files-manager {
  display: flex;
  flex-direction: column;
}

.files-manager .upload-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 8px;
  margin-top: 4vh;
  padding: 2vh;
  width: 162vh;
}

.files-manager .upload-form span{
 font-weight: 500;
}

.files-manager .upload-form input {
  margin-left: 2vh;
}

.files-manager .upload-form .upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  margin-left: 2vh;
}

.files-manager .upload-form .upload-button span {
  margin-left: 1vh;
}

.files-manager .upload-form .reload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 75vh;
  padding: 4px;
}

.files-manager .upload-form .reload-button span {
  margin-left: 1vh;
}

.files-manager  ul {
  background-color: white;
  border: none;
  border-radius: 8px;
  list-style: none;
  width: 162vh;
  margin-top: 2vh;
}

.files-manager .list-description {
  background-color: rgb(235, 235, 235);
  border: none;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 2vh;
}

.files-manager .list-description .filename {
  padding: 1vh 26vh 1vh;
}

.files-manager .list-description .filesize {
  padding: 1vh 10vh 1vh;
}

.files-manager .file-info {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.files-manager .file-info div {
  padding: 2vh;
}

.files-manager .file-info .filename {
  width: 65vh;
}

.files-manager .file-info .filesize {
  width: 28vh;
  padding-left: 5vh;
}

.files-manager .file-info .last-modified {
  width: 58vh;
  padding-left: 14vh;
}
.files-manager .file-info .action-icons button {
  border: none;
  background-color: white;
  margin-left: 2vh;
}

.files-manager .file-info .action-icons button:hover {
  cursor: pointer;
}

.files-manager .no-files-message {
  padding: 2vh;
  color: #3a3a3a;
}