div {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  margin-top: 30vh;
  width: 80vh;
  height: 45vh;
  padding: 2vh;
}

h3 {
  color: #3a3a3a;
  padding-bottom: 4vh;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  color: #3a3a3a;
  width: 70vh;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #afafaf;
  border-radius: 8px;
}

span {
  color: #3a3a3a;
  margin-bottom: 2vh;
}

span a {
  text-decoration: none;
  color: rgb(0, 60, 255);
}

button {
  margin-top: 2vh;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
