.sign-in-container {
  display: flex;
  justify-content: center;
}

.sigin-page div {
  display: flex;
  justify-content: center;
}

.sigin-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  margin-top: 23vh;
  width: 80vh;
  height: 55vh;
  padding: 2vh;
}

.sigin-page h3 {
  color: #3a3a3a;
  padding-bottom: 4vh;
}

.sigin-page label {
  font-weight: bold;
  margin-bottom: 5px;
}

.sigin-page input {
  color: #3a3a3a;
  width: 70vh;
  padding: 10px;
  margin-bottom: 3vh;
  border: 1px solid #afafaf;
  border-radius: 8px;
}

.sigin-page p {
  color: rgb(197, 37, 37);
  margin-bottom: 3vh;
}

.sigin-page p::before {
  display: inline;
  content: "⚠ ";
}

.sigin-page span {
  color: #3a3a3a;
  margin-bottom: 2vh;
}

.sigin-page span a {
  text-decoration: none;
  color: rgb(0, 60, 255);
}

.sigin-page button {
  margin-top: 2vh;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
